<<<<<<< HEAD
.header {
  min-height: 100vh;
  min-height: 100svh;
  font-size: 1.125rem;
  background-image: url("../assets/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.container {
  min-height: 100vh;
  min-height: 100svh;
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
}
.nav {
  justify-content: space-between;
  padding: 2rem 5%;
}
.logo {
  font-size: 2rem;
  font-family: serif;
  font-weight: 600;
  color: #ff9b00;
}
.nav ul {
  gap: 2rem;
}
.header button {
  padding: 0.75rem 2.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  background: linear-gradient(90deg, #ed1c24, #ff9b00);
  font-weight: 500;
  color: white;
}
.headerText {
  justify-content: space-between;
  padding: 0 5%;
}
.headerText h1 {
  font-size: 4rem;
  text-align: start;
}
.headerText div {
  width: 50%;
  overflow: hidden;
}
.headerText div img {
  width: 100%;
}
.headerText p {
  font-size: 1.5rem;
  margin: 2rem 0;
}
.headerText h1 span {
  color: #ff9b00;
}
.scrollBar {
  margin-top: -2rem;
}
.scrollBar div {
  padding: 1rem;
  font-size: 2rem;
  width: 110%;
  position: relative;
  height: 6rem;
}
.scrollBarOne {
  background: linear-gradient(90deg, #ed1c24, #ff9b00);
  transform: rotate(2deg) translateX(-5%);
}
.scrollBarOne span {
  position: absolute;
  left: -15%;
  animation: movement 5s linear infinite;
  animation-delay: calc(var(--delay) * 1s);
}
.scrollBarTwo {
  background: linear-gradient(90deg, #ff9b00, #ed1c24);
  transform: translateX(-5%);
}
.scrollBarTwo span {
  position: absolute;
  animation: toAndfro 5s linear alternate-reverse infinite;
}
@keyframes movement {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
@keyframes toAndfro {
  from {
    left: -50%;
  }
  to {
    left: 15%;
  }
}
@media (max-width: 60rem) {
  .container {
    min-height: unset;
    padding: 0 0 2rem 0;
  }
  .header {
    min-height: unset;
  }
  .nav ul {
    display: none;
  }
  .nav button {
    display: none;
  }
  .headerText {
    flex-direction: column-reverse;
  }
  .headerText div {
    width: 100%;
    text-align: center;
  }
  .headerText h1 {
    font-size: 2rem;
    text-align: center;
  }
  .headerText p {
    font-size: unset;
    text-align: center;
    margin: 1rem 0;
  }
  .scrollBar {
    display: none;
  }
}
=======
.header {
  min-height: 100vh;
  min-height: 100svh;
  font-size: 1.125rem;
  background-image: url("../assets/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.container {
  min-height: 100vh;
  min-height: 100svh;
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
}
.nav {
  justify-content: space-between;
  padding: 2rem 5%;
}
.logo {
  font-size: 2rem;
  font-family: serif;
  font-weight: 600;
  color: #ff9b00;
}
.nav ul {
  gap: 2rem;
}
.header button {
  padding: 0.75rem 2.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  background: linear-gradient(90deg, #ed1c24, #ff9b00);
  font-weight: 500;
  color: white;
}
.headerText {
  justify-content: space-between;
  padding: 0 5%;
}
.headerText h1 {
  font-size: 4rem;
  text-align: start;
}
.headerText div {
  width: 50%;
  overflow: hidden;
}
.headerText div img {
  width: 100%;
}
.headerText p {
  font-size: 1.5rem;
  margin: 2rem 0;
}
.headerText h1 span {
  color: #ff9b00;
}
.scrollBar {
  margin-top: -2rem;
}
.scrollBar div {
  padding: 1rem;
  font-size: 2rem;
  width: 110%;
  position: relative;
  height: 6rem;
}
.scrollBarOne {
  background: linear-gradient(90deg, #ed1c24, #ff9b00);
  transform: rotate(2deg) translateX(-5%);
}
.scrollBarOne span {
  position: absolute;
  left: -15%;
  animation: movement 5s linear infinite;
  animation-delay: calc(var(--delay) * 1s);
}
.scrollBarTwo {
  background: linear-gradient(90deg, #ff9b00, #ed1c24);
  transform: translateX(-5%);
}
.scrollBarTwo span {
  position: absolute;
  animation: toAndfro 5s linear alternate-reverse infinite;
}
@keyframes movement {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
@keyframes toAndfro {
  from {
    left: -50%;
  }
  to {
    left: 15%;
  }
}
@media (max-width: 60rem) {
  .container {
    min-height: unset;
    padding: 0 0 2rem 0;
  }
  .header {
    min-height: unset;
  }
  .nav ul {
    display: none;
  }
  .nav button {
    display: none;
  }
  .headerText {
    flex-direction: column-reverse;
  }
  .headerText div {
    width: 100%;
    text-align: center;
  }
  .headerText h1 {
    font-size: 2rem;
    text-align: center;
  }
  .headerText p {
    font-size: unset;
    text-align: center;
    margin: 1rem 0;
  }
  .scrollBar {
    display: none;
  }
}
>>>>>>> 608e5adedacd647d47b134a4243f5484fef60192
