.attendance {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 2rem;
  /* justify-content: space-between; */
  min-height: 100vh;
}
.nav {
  justify-content: space-between;
  gap: 1rem;
  margin: 0 0 1rem 0;
}
.nav p {
  font-size: 1.5rem;
}
.content {
  min-height: 85vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.attendanceContent {
  display: flex;
  flex-direction: row;
  min-height: 85vh;
  background-color: red;
}
.attendanceContent article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: green;
  height: fit-content;
  width: 100%;
  align-items: center;
  align-content: center;
}
.attendanceContent article div {
  width: 5.7%;
  background-color: gainsboro;
  text-align: center;
  border: 2px solid blue;
  padding: 1rem 0;
}
.attendanceContent article div input {
  width: 100%;
  padding: 1rem;
}
.attendanceContent article div:nth-child(1) {
  width: 20%;
  background-color: gray;
  height: 100%;
}
.eachContenet {
  min-height: 22.5em;
  border-radius: 1rem;
  background-color: beige;
}
.map {
  grid-column: 2/4;
  grid-row: 1/4;
  background: url(../../../assets/Images/map.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 60rem) {
  .nav {
    flex-direction: column-reverse;
  }
  .welcome {
    width: 100%;
  }
  .content {
    grid-template-columns: repeat(1, 1fr);
  }
  .map {
    grid-column: unset;
    grid-row: unset;
  }
}
