<<<<<<< HEAD
.studentAttendance {
  background-color: beige;
  height: fit-content;
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
}
.chart {
  width: 12.5rem;
  height: 12.5rem;
  background-color: green;
  border-radius: 50%;
  margin: 1rem auto;
}
.total {
  width: 1rem;
  height: 1rem;
  background-color: green;
  margin: 0 1rem 0 0;
}
@media (max-width: 60rem) {
  .chart {
    width: 10.5rem;
    height: 10.5rem;
  }
}
=======
.studentAttendance {
  background-color: beige;
  height: fit-content;
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
}
.chart {
  width: 12.5rem;
  height: 12.5rem;
  background-color: green;
  border-radius: 50%;
  margin: 1rem auto;
}
.total {
  width: 1rem;
  height: 1rem;
  background-color: green;
  margin: 0 1rem 0 0;
}
@media (max-width: 60rem) {
  .chart {
    width: 10.5rem;
    height: 10.5rem;
  }
}
>>>>>>> 608e5adedacd647d47b134a4243f5484fef60192
